/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo */
body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

/* container */
.container {
    width: 500px;
    height: auto;
    border-radius: 3px;
    border: 2px solid black;
    margin: auto;
}


/* Entrada / Saida */
.display-entrada, .display-saida {
    display: flex;
    flex-direction: column;
}

.label-entrada, .label-saida {
    font-size: 20px;
    font-weight: 400;
    font-family: sans-serif;
    margin-left: 20px;
    margin-top: 10px;
}

input {
    width: 300px;
    height: auto;
    padding: 6px;
    font-size: 18px;
    letter-spacing: 1px;
    margin: 15px auto;
    transition: .2s ease-in-out;
}

input:focus {
    border: 2px solid rgb(122, 122, 122);
    border-radius: 2px;
    background-color: rgb(228, 228, 228);
    outline: none;
}

.btn-verific {
    width: 300px;
    margin: auto;
    padding: 6px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    border: none;
    box-shadow: 2px 2px 5px;
    background-color: rgb(120, 144, 255);
    transition: .2s ease-in-out;
}

.btn-verific:hover {
    cursor: pointer;
    background-color: rgb(138, 158, 248);
    box-shadow: 2px 2px 3px;
    border-radius: 1px;
}

.btn-verific:active {
    box-shadow: 1px 1px 1px;
}

p {
    text-align: center;
    margin: 10px auto;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    display: none;
}